# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Eclipse
.project
.settings
.classpath

# IntelliJ IDEA
.idea

# NetBeans
bin

# File
M3OpenAPI.drawio

core
